body {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1680px;
    display: flex;
    flex: 1;
    margin: 0 auto;
}

// Media Queries

@media screen and (min-width: 1481px) {
    .container {
        padding: 0 45px;
    }
}

@media screen and (max-width: 1480px) {
    .container {
        padding: 0 15px;
    }
}